body{
    padding: 10px;
}

.input1 {
  display: none;
}
.input2{
  display: none;  
}

#tab2{
    height: 45px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc
    
}

.lbl1 {
  background-color: white;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 5px;
  font-weight: 600;
  text-align: center;
  color: #555;
  border: 1px solid transparent;
}

.lbl2 {
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  margin: 0 3px;
  padding: 5px 5px;
  font-weight: 600;
  text-align: center;
  color: #555;
  border: 1px solid #ddd;
}

label:hover {
    color: #888;
    text-decoration: underline;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.input1:checked + label {
  color: #222;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

.input2:checked + label {
  color: #CB4042;
  border: 1px solid transparent;
  background-color: transparent;
  border-bottom: 2px solid #CB4042;
    border-radius: 0px;
}

#word{
    width :88%;
}